

.flashcardsContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .loading,
  .error {
    text-align: center;
    font-size: 1.1rem;
    color: #666;
  }
  
  .flashcardsList {
    list-style: none;
    padding: 0;
  }
  
  .flashcardItem {
    margin-bottom: 1.5rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .question {
    margin: 0 0 0.5rem;
    font-weight: bold;
  }
  
  .answer {
    margin: 0 0 0.5rem;
  }
  
  .topic {
    display: inline-block;
    margin-right: 1rem;
    color: #007bff;
  }
  
  .status {
    font-size: 0.9rem;
    color: #666;
  }
  

  /* Button */

  .createButton {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #ffcc00;
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
  }
  
  .createButton:hover {
    background-color: #ffb700;
  }
  
  /* Edit button */

  .editButton {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .editButton:hover {
    text-decoration: underline;
  }
  
  .cardActions {
    margin-top: 10px;
  }

  /* Delete button */
  
  .deleteButton {
    background-color: transparent;
    color: #dc3545;
    border: none;
    font-weight: bold;
    cursor: pointer;
  }
  
  .deleteButton:hover {
    text-decoration: underline;
  }