/* General Styles */
.App {
    margin: 0;
    display: flex;                
    flex-direction: column; 
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    background-color: #f8f8f8;
  }

/* Navigation Bar */

.navLink {
    color: #444;
    font-weight: 500;
    margin-left: 1rem;
    text-decoration: none;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    display: flex;
    align-items: center;
  }
  
  .navLink i {
    margin-right: 6px;
  }
  
  .navLink:hover {
    color: #4a4e69;
    text-decoration: none;
    border-bottom: 2px solid #4a4e69;
  }
  
  .active {
    color: #4a4e69;
    font-weight: 600;
    border-bottom: 2px solid #4a4e69;
  }

  /* Main Content */

  .MainContent {
    flex: 1; 
    padding-top: 70px; 
    
  }

  /* Footer */

  .Footer {
    background-color: #2b2b2b;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
  }
  
  .footerContainer {
    display: inline-block;
    margin: 0 auto;
  }
  
  /* Social networks icons */
  .footerIcons a {
    color: #fff;
    margin: 0 0.5rem;
    font-size: 1.2rem;          
    transition: color 0.3s ease;
  }
  
  .footerIcons a:hover {
    color: #d78296;             
  }